<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Vgrupper</title>
</head>

<body style="font-size: 23px;font-family: Akronim, cursive;">
<div class="container" layout:fragment="content">
    <div class="row" style="margin-top: 200px;">

        <div class="col-lg-6">
            <form  method="post" action="/worklist">
                <input type="text" name="text" placeholder="сюда" />
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="col-lg-6">
            <table>
                <thead>
                <tr>
                    <th> Title </th>
                    <th> Author </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${pamatki.empty}">
                    <td colspan="2"> Not Found</td>
                </tr>
                <tr th:each="pamatka : ${pamatki}">
                    <td><span th:text="${pamatka.id}"> id </span></td>
                    <td><span th:text="${pamatka.text}"> text </span></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <p>List messages</p>
    <div class="row">
        <div class="col-lg-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Messages</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="pamatka: ${pamatkis}">
                    <td th:text="${pamatka.id}" />
                    <td th:text="${pamatka.text}" />
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
    </div>
</div>
</body>

</html>